@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');

:root{
    --alataFont: font-family: 'Alata', sans-serif;
    --josefinFont:  font-family: 'Josefin Sans', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 15px;
    font-family: 'Josefin Sans', sans-serif; 
}

.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
}

header{
    display: flex;
    width: 100%;
    position: absolute;
    z-index: 10;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    margin-top: 30px;
    /* font-family: var(--alataFont); */
    font-family: 'Alata', sans-serif;

}
.logo{
    display: flex;
    width: 30%;
    align-items: center;
    justify-content: center;
}
header nav{
    display: flex;
    width: 50%;
    align-items: center;
}

header nav ul{
    display: flex;
    width: 100%;
    align-items: center;
}

header nav ul li{
    width: 100%;
    display: flex;
    color: #fff;
    font-weight: 300;
}

header nav ul li a{
    color: #fff;
    text-decoration: none;
    padding-bottom: 7px;
    font-size: .8rem;
}

header nav ul li a:hover{
    border-bottom: 3px solid #fff;
}

.hamburger{
    display: flex;
}

.hamburger i{
    font-size: 2rem;
    color: #fff;
    position: absolute;
    top: 30%;
    right: 5%;
    cursor: pointer;
    display: none;
}

/* end of header styles */

/* hero styles */

.hero{
    display: flex;
    width: 100%;
    min-height: 100vh;
    position: relative;
    background-color: rgb(66, 64, 64);
    background-image: url(./images/desktop/image-hero.jpg);
    opacity: 1;
    background-blend-mode: overlay;
}


.hero h1{
    border: 1px solid #fff;
    height: 180px;
    color: #fff;
    width: 30%;
    padding: 20px;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 10%;
    font-weight: 300;
    letter-spacing: 1.5px;
}


/* end of hero styles */

/* banner styles */

.banner{
    padding-top: 100px;
    width: 100%;
    display: flex;
    position: relative;
}

.banner img{
    width: 50%;
    display: flex;
    margin-left: 100px;
}

.banner-text{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 40%;
    background: #fff;
    padding: 50px;
    top: 50%;
    left: 48%;
}

.banner-text h3{
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 300;
    width: 100%;
}

.banner-text p{
    margin-top: 20px;
    opacity: .5;
}

/* end of banner section */


/* creations section */

.creations{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 100px;
}

.heading{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.heading h3{
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 300;
    width: 100%;
    margin-left: 100px; 
}

.heading button{
    margin-right: 100px;
    width: 15%;
    font-family: 'Alata', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    background: none;
    outline: none;
    cursor: pointer;
}

.heading button:hover{
    background: #000;
    color: #fff;
}

.portfolio{
    display: grid;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 80px;
    grid-template-columns: repeat(4, 1fr);
}


.item{
    padding: 8px;
    position: relative;
}

.item img{
    filter: opacity(0.7) drop-shadow(0 0 0 #000);
    cursor: pointer;
}

.item img:hover{
    background-color: #000;
    opacity: .3;
    background-blend-mode: overlay;
}

.item h3{
    text-transform: uppercase;
    font-size: 1.3rem;
    position: absolute;
    top: 80%;
    left: 10%;
    color: #fff;
    font-weight: 300;
    width: 100%;
}
/* end of creations */


#footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #000;
    padding: 50px;
    color: #fff;
}
.footer-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.footer-logo img{
    margin-left: 60px;
}

.social-icons{
    margin-right: 50px;
    display: flex;
    width: 10%;
    justify-content: space-between;
}

.social-icons i:hover{
    border-bottom: 3px solid #fff;
    padding-bottom: 7px;
    cursor: pointer;
}

.footer-items ul{
    margin-left: 70px;
    display: flex;
    width: 40%;
    justify-content: space-between;
}

.footer-items ul li{
    display: flex;
    color: #fff;
    list-style-type: none;
}

.footer-items ul li a{
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}

.footer-text{
    margin-right: 40px;
}

.footer-text p{
    font-weight: 300;
    font-size: .8rem;
}